<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Projecktmanager</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
</head>

<body>
<div id="app">

    <header>
        <h1>Projectmanager</h1>
    </header>
    <main>
        <task-table v-if="currentMain === 'tasks'" v-bind:tasks="tasks"></task-table>
        </member-table>
        <member-table v-else v-bind:members="members"></member-table>
    </main>
    <aside>

        <h4>AlterTable</h4><br>
        <form @submit="formSubmit">
            <strong>Name:</strong>
            <input type="text" class="form-control" v-model="name">
            <strong>Email</strong>
            <input type="text" class="form-control" v-model="email">
            <button>Submit</button>
        </form>
        <a href="newProject.html">Create new Project</a>
        <a href="index.html">Create new member</a>
        <pre>
       {{output}}
      </pre>
    </aside>
</div>
<script src="alterTable.js"></script>
</body>

</html>