<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maya og Eskilds web-applikasjon</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
</head>

<body>
<div id="app">

    <header>
        <h1>ProjectManager</h1>

    </header>
    <main>
        <nav>
            <ul>
                <li v-bind:class="{ active: currentMain == 'projects' }" v-on:click="currentMain = 'projects'; getData();">Projects</li>
                <li v-bind:class="{ active: currentMain == 'members' }" v-on:click="currentMain = 'members'; getData();">Members</li>
            </ul>
        </nav>
        <projects-table v-if="currentMain === 'projects'" v-bind:projects="projects"></projects-table>
        </member-table>
        <member-table v-else v-bind:members="members">

        </member-table>
    </main>
    <aside>

        <h4>New Project </h4><br>

        <form @submit="formSubmit">
            <div class="row">
                <div class="col-25">
                    <label for="name">Name</label>
                </div>
                <div class="col-75">
                    <input type="text" id="name" name="name" placeholder="Member name" v-model="name">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="email">Email</label>
                </div>
                <div class="col-75">
                    <input type="email" id="email" name="email" placeholder="Member Email" v-model="email">
                </div>
            </div><div class="row">
                <div class="col-25">
                    <label for="project">Project</label>
                </div>
                <div class="col-75">
                    <input type="project" id="project" name="project" placeholder="Project Participating" v-model="project">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="category">Category</label>
                </div>
                <div class="col-75">
                    <select id="category" name="category">
                        <option value="coding">Coding</option>
                        <option value="design">Style</option>
                        <option value="managment">Projectmanagement</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="description">Description</label>
                </div>
                <div class="col-75">
                    <textarea id="description" name="description" placeholder="Project description.." style="height:200px"></textarea>
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Add projects">
            </div>
        </form>
    </aside>
</div>
<script type="module" src="./app.js"></script>
</body>

</html>