body {

}


#members{
    position: absolute;
    left: 400px;
    top: 100px;
    border: 1px solid black;
}

#alterDiv{
    position: absolute;
    top: 800px;
}

#tasks{
    position: absolute;
    left: 800px;
    top: 100px;
    border: 1px solid black;
}

#assignmember{
    position: absolute;
    top: 300px;
    left: 550px;
}

#chooseAMemberText{
    position: absolute;
    left: 400px;
    top: 50px;
}

#chooseATaskText{
    position: absolute;
    top: 50px;
    left: 800px;
}

#assignedMembersText{
    position: absolute;
    top: 250px;
    left: 550px;
}

#assignButton{
    position: absolute;
    top: 100px;
    left: 1000px;
}

#memberdiv{
    position: absolute;
    top: 200px;
}

#taskdiv{
    position: absolute;
    top: 300px;
}

#assigndiv{
    position: absolute;
    top: 100px;
}

#membersHeader{
    position: absolute;
    top: 20px;
    left: 350px;
}

#tasksHeader{
    position: absolute;
    top: 20px;
    left: 750px;
}